body {
  display: flex;
  flex-wrap: wrap;
}
p {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
  font-weight: bolder;
}
.buttons_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 15px;
  box-sizing: border-box;
}

/* Uber button  */

.uber {
  border: none;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.uber:active {
  transform: translateY(2px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.uber:hover {
  opacity: 0.8;
}

/* Amazon button */

.amazon {
  border: none;
  background-color: rgb(244, 216, 57);
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s;
}
.amazon:active {
  transform: translateY(2px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.amazon:hover {
  background-color: rgb(242, 208, 17);
}

/* GitHub button */

.github {
  color: #fff;
  background-color: green;
  padding: 10px 30px;
  border: none;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.github:active {
  transform: translateY(2px);
}

.github:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.189);
}

/* bootstrap button */

.bootstrap {
  border: none;
  color: #fff;
  background-color: blueviolet;
  padding: 14px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.15s;
}
.bootstrap:active {
  transform: translateY(2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.199);
}

.bootstrap:hover {
  background-color: rgb(98, 13, 177);
}

/* download button */

.download {
  border: 1px solid rgb(74, 73, 73);
  border-radius: 5px;
  background-color: white;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 600;
  color: gray;
  cursor: pointer;
  transition: background-color 0.15s;
  transition: color 0.15s;
}
.download:active {
  transform: translateY(2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.202);
}
.download:hover {
  color: white;
  background-color: rgb(74, 73, 73);
}

/* linkedin buttons  */

.linkedin_apply {
  border: none;
  border-radius: 23px;
  color: whitesmoke;
  background-color: rgb(19, 19, 219);
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}

.linkedin_apply:active {
  transform: translateY(2px);
  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.206);
}

.linkedin_apply:hover {
  background-color: rgb(23, 23, 172);
}

.linkedin_save {
  border: 1px solid rgb(19, 19, 219);
  color: rgb(19, 19, 219);
  border-radius: 20px;
  background-color: whitesmoke;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.2s;
}
.linkedin_save:active {
  transform: translateY(3px);
}

.linkedin_save:hover {
  padding: 9px 19px;
  border-width: 1.5px;
  background-color: rgba(8, 8, 238, 0.18);
}
